/* Need to be implemented */
html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../images/bg.jpg) rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    margin: 8px 8px 8px 8px;
}

.container {
    width: 400px;
    padding: 0px 20px 10px 10px;
    background-color: white;
    opacity: 0.8;
    border-radius: 5px;
    align-items: center;
}

#title {
    display: block;
    text-align: center;
}

#title-content {
    margin: 20px 0px 5px 0px;
    font-size: 24px;
}

#subtitle-content {
    font-style: italic;
    margin: 0px 0px 0px 0px;
}

#itemsContainer {
    width: 400px;
    display: block;
    align-items: center;
}

#input-placeholder {
    justify-content: center;
    display: flex;
    margin: 10px 10px 10px 10px;
}

#input-box {
    width: 240px;
    padding: 1px 0px 1px 5px;
    margin-right: 10px;
    border: none;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    font-weight: 400;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    outline: none;
}

#input-button {
    color: white;
    text-align: center;
    margin-top: 2px;
    padding: 2px 15px;
    border-radius: 15px;
    font-size: 15px;
    background-color: #f8b7b8;
    border-color: #fc999b;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    outline: none;
}

#todo-list-block {
    padding: 0px 20px;
    display: block;
    max-height: 280px;
    overflow-x: auto;
    overflow-y: auto;
    min-height: 150px;
}

#btnContainer {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.footer-button {
    margin: 2px 0px 0px 15px;
    padding: 2px 15px;
    background-color: rgb(221, 221, 221);
    font-size: 15px;
    border-color: rgb(221, 221, 221);
    border-width: 1px;
    border-style: solid;
    border-radius: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fc999b;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.footer-button:hover {
    margin: 2px 0px 0px 15px;
    padding: 2px 15px;
    background-color: rgb(248, 183, 184);
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fc999b;
    border-color: #fc999b;
    border-radius: 15px;
    border-width: 1px;
    border-style: solid;
    font-weight: 400;
    cursor: pointer;
    outline: none;
}

.footer-button:active {
    background-color: #fc999b;
    color: white;
    background-size: 100%;
    transition-duration: 0s;
    transition-property: background-color;
}

.footer-button-selected {
    margin: 2px 0px 0px 15px;
    padding: 2px 15px;
    background: #f8b7b8 radial-gradient(circle, transparent 1%, #f8b7b8 1%) center/15000%;
    font-size: 15px;
    border-style: solid;
    border-color: rgb(252, 153, 155);
    border-radius: 15px;
    border-width: 1px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    cursor: pointer;
    outline: none;
    transition-duration: 0.8s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.footer-button-selected:active {
    background-color: #fc999b;
    background-size: 100%;
    transition-duration: 0s;
}

#delete-icon {
    opacity: 0;
    height: 16px;
    width: 16px;
    border: 0px;
    cursor: pointer;
    background-image: url(../images/delete.png);
    background-color: transparent;
    outline: none;
    float: right;
}

#actual-list {
    margin: 0px 0px 16px 0px;
}

ol li.active {
    font-size: 16px;
    padding: 5px 0px 5px 2px;
    text-align: left;
}

ol li p.active {
    display: inline-block;
    margin: 0px;
    font-size: 16px;
}

ol li p.checked {
    color: rgb(153, 153, 153);
    text-decoration: line-through;
    text-decoration-color: rgb(153, 153, 153);
    display: inline-block;
    margin: 0px;
    font-size: 16px;
}

ol li:nth-child(even) {
    background-color: rgb(244, 236, 236);
}

ol li:hover #delete-icon {
    opacity: 1;
    transition-duration: 0.5s;
}

ol li.checked {
    color: rgb(153, 153, 153);
    font-size: 16px;
    padding: 5px 0px 5px 2px;
    text-align: left;
}

ol li #checked::before {
    color: rgb(153, 153, 153);
}

ol li input {
    margin: 3px 3px 3px 4px;
    transform: scale(1.2);
}